#mist{
    background-color: red;
    background: url('https://thumbs.dreamstime.com/b/trees-branches-foggy-weather-fog-all-over-looking-spooky-137914701.jpg') no-repeat center center/cover;
    height: 100vh;
}
#rainy{
    background: url('https://images.unsplash.com/photo-1433863448220-78aaa064ff47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80') no-repeat center center/cover;
    height: 100vh;


}
#cloudy{
    background: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80') no-repeat center center/cover; 
    height: 100vh;


}
#sunny{
    background: url('https://media.istockphoto.com/photos/blue-sky-with-bright-sun-and-clouds-picture-id1007768414?k=20&m=1007768414&s=612x612&w=0&h=tPqlkOIe3O1hM2pnYbZAJdwIXIpdpDddABPNdVTFOrs=') no-repeat center center/cover;
    height: 100vh;
}

p{
    color: #f8f8f8;
}

h2{
    color: #f8f8f8;

}